<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="MySchool" class="com.zzh.School">
        <property name="name" value="jxut"></property>
    </bean>
    <bean name="MyString" class="com.zzh.Student">
        <!--<constructor-arg index="0" value="zzh"></constructor-arg>-->
        <!--<constructor-arg index="1" value="20"></constructor-arg>-->
        <!--<property name="age" value="20"></property>-->
        <constructor-arg value="zzh"></constructor-arg>
        <constructor-arg value="20"></constructor-arg>
        <constructor-arg ref="MySchool"></constructor-arg>
    </bean>
</beans>